
body {
    background-color: #201F25;
    font-family: sans-serif;

}


.storage-form form .form-box{
    height: 400px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
}

.table_item_for_crud {
    font-size: 20px;
    text-align: center;
    margin: 30px auto;
    width: 1067px;
}

.table_item_for_crud table {
    border-spacing: 0;
}

.table_item_for_crud td {
    background: #e8edff;
    border-bottom: 1px solid white;
    color: #669;
    border-top: 1px solid transparent;
    padding: 8px;
}

.table_item_for_crud th {
    font-weight: normal;
    background: #b9c9fe;
    border-top: 4px solid #aabcfe;
    border-bottom: 1px solid white;
    color: #039;
    padding: 8px;
}

.table_item_for_crud tr:hover td {
    background: #ccddff;
}


.add-article_text-box {

    width: 220px;
}

.add-article_text-box input {
    border: 1px solid #263560;
    height: 20px;
    font-size: 20px;
    background-color: #45474D;
    color: #85BFDC;
    width: 220px;
}

.add-article_text-box h3 {
    font-size: 20px;
    border-bottom: 1px solid #4D71A5;
    color: #85BFDC;
    text-align: center;
    margin: 5px;
}

.submit-button {
    height: 37px;
    width: 300px;
    margin: auto;
}

.submit-button button {
    border: 1px solid #263560;
    width: 300px;
    height: 37px;
    font-size: 22px;
    background-color: #45474D;
    color: #85BFDC;


}
