
body {
    background-color: #201F25;
    font-family: sans-serif;

}


.storage-form {


}

.storage-form form .form-box{
    height: 400px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
}
.item_for_crud{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    height: 24px;
    border-bottom: 1px dotted orange;
    margin: 0 20px 0 20px;
}

.item_for_crud:first-child {
    border-top: 1px dotted orange;
}

.output-database_info {
    margin-top: 20px;
    margin-bottom: 20px;

}

.output-item_for_crud {
    width: 220px;
    text-align: center;
    border-right: 1px dotted orange;
    border-left: 1px dotted orange;
    color: orange;
    font-size: 20px;
}

.add-article_text-box {

    width: 220px;
}

.add-article_text-box input {
    border: 1px solid #263560;
    height: 20px;
    font-size: 20px;
    background-color: #45474D;
    color: #85BFDC;
    width: 220px;
}

.add-article_text-box h3 {
    font-size: 20px;
    border-bottom: 1px solid #4D71A5;
    color: #85BFDC;
    text-align: center;
    margin: 5px;
}

.submit-button {
    border: 1px solid #263560;
    height: 50px;
    font-size: 22px;
    background-color: #45474D;
    color: #85BFDC;
    width: 100%;
}
